%section{ class: "featurette m-3 row justify-content-center #{className}" }
  .col.col-10
    .row.p-3.p-xl-5
      %div.col-xl.text-center.mb-2
        %img.img-fluid{src: img_src, alt:"500x500"}
      .col.d-xl-none.my-2
        %h2{class:"featurette-heading", id:'featurette-1'}
          = heading_text
        %h2{class: "text-muted"} 
          = heading_muted_text
      .col-xl
        .d-none.d-xl-block
          %h2{class: "featurette-heading", id:'featurette-1'}
            = heading_text
            %span{class:"text-muted"}
              = heading_muted_text
        %p
          = feature_description

