<div class='profile-photo'>
</div>

<hr>

<div class='edit-profile-hook'>
</div>

<div>
  <label class='profile-label'>
      Name:
  </label>
  <%= user.escape('name') %>
</div>

<% if (user.escape('role') === 'fosterer') { %>
<div>
  <label class='profile-label'>
    Nums Spots Available:
  </label>
  <h4><%=user.escape('num_animals_willing_to_foster')%></h4>
</div>
<% } %>

<div>
  <label class='profile-label'>
    Email:
  </label>
  <%= user.escape('email') %>
</div>

<div>
  <label class='profile-label'>
    Location:
  </label>
  <%= user.escape('street_address') %>, <%= user.escape('city') %>, <%= user.escape('state') %> <%= user.escape('zip_code') %>
</div>

<div class='contact-btns'>
</div>


<!-- MODAL ===============================================================  -->

<div class="modal fade in slacker-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
	<div class="modal-dialog modal-slacker">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myLargeModalLabel">
          Edit Your Profile.
          <span class="text-muted">Tell Us About Yourself</span>
        </h4>
			</div>
			<div class="modal-body">
				<div class="text-center modal-text">
   				<p><a class="btn btn-default modal-off" href="" data-toggle='modal' role="button">Come Take Look! »</a></p>
  			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- END MODAL =========================================================== -->


<script>
  $(function() {
    $('a.modal-off').on('click', function (event) {
      event.preventDefault();
      $('.modal').modal('hide');
    });
  });
</script>
