<h3>Please Confirm This Reservation</h3>

<div class='row table-header'>
  <div class='col-md-3'>
    Rescue Org
  </div>
  <div class='col-md-3'>
    Check In Date
  </div>
  <div class='col-md-3'>
    Check Out Date
  </div>
</div>

<div class='row'>
  <div class='col-md-3'>
    <%=org.escape('org_name') %>
    <%=stay.escape('id') %>
  </div>
  <div class='col-md-3'>
    <%=stay.escape('check_in_date') %>
  </div>
  <div class='col-md-3'>
    <%=stay.escape('check_out_date') %>
  </div>
</div>


<!-- overlapping reservations =========================== -->
<% if (overlappingStays.length !== 0) { %>

  <h3>The following reservations overlap and will automatically be denied</h3>

  <div class='row table-header'>
    <div class='col-md-3'>
      Rescue Org
    </div>
    <div class='col-md-3'>
      Check In Date
    </div>
    <div class='col-md-3'>
      Check Out Date
    </div>
  </div>

  <% for (var i = 0; i < overlappingStays.length; i++) { %>
    <% var stay = overlappingStays.models[i] %>
    <div class='row'>
      <div class='col-md-3'>
        <%= org.escape('org_name') %>
        <%= stay.escape('id') %>
      </div>
      <div class='col-md-3'>
        <%= stay.escape('check_in_date') %>
      </div>
      <div class='col-md-3'>
        <%= stay.escape('check_out_date') %>
      </div>
    </div>
  <% } %>
<% } %>

<!-- TODO: syntax error somewhere -->

<!-- End overlapping reservations ========================= -->

<div class='confirmation-btns'>
  <button class='btn btn-success confirm-stay'
    data-stay-id=<%= stay.escape('id')%> >
    Confirm Reservation
  </button>

  <button class='btn btn-success rtrn-to-manager'>
    Return to Reservation Manager
  </button>
</div>

<div class='res-confirmation animated'>
  Reservation Confirmed!
</div>
