<!-- TODO: omgz, react please -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-dark">
  <a class="navbar-brand brand-color" href="#search">
    FosterPals
  </a>
  <div class="navbar-tagline d-none d-lg-block">
    Connecting rescue organizations with people like you.
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon" />
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mr-3">
        <strong class="welcome-text">
          Welcome,
          <%= CURRENT_USER %>!
        </strong>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= tourOn && tourStep === 3 ? 'nav-link-pop pulse' : '' %>" href="#profile" id="<%= CURRENT_USER_ID %>">
          My Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= tourOn && tourStep === 2 ? 'nav-link-pop pulse' : '' %>" href="#schedule-manager" id="schedule-manager-link">
          Reservation Requests
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= tourOn && tourStep === 1 ? 'nav-link-pop pulse' : '' %>" href="#animal-roster" id="animal-roster-link">
          My Pets
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sign-out" id="sign-out-link">
          Sign Out
        </a>
      </li>
    </ul>
    <form class="form-inline" id="location-search-form">
      <input type="text" class="form-control search-input" placeholder="Search by Location" name="location_query" id="search-input"
      />
      <button class="ml-1 btn btn-primary my-2 my-sm-0 location-search-form-submit-btn">Search</button>
    </form>
  </div>
</nav>