<div class='row schedule-manager-item'>
  <div class='schedule-manager-item col-md-2'>
    <%= stay.escape('check_in_date') %>
  </div>

  <div class='schedule-manager-item col-md-2'>
    <%= stay.escape('check_out_date') %>
  </div>

  <div class='schedule-manager-item col-md-2'>
    <%= org.escape('org_name') %>
    <%= org.escape('id') %>
  </div>

  <% if (stay.escape('status') === 'pending') { %>
    <!-- TODO: hook up confirmation button with a page that confirms the stay. -->
    <button class='btn btn-success prompt-confirm col-md-2'  data-stay-id="<%= stay.escape('id') %>">
      Confirm
    </button>

    <button class='btn btn-danger prompt-deny col-md-2' data-stay-id="<%= stay.escape('id')%>" >
      Deny
    </button>
  <% } else { %>
    <button class='btn btn-info contact-org col-md-1' data-stay-id="<%= stay.escape('id')%>" >
      Contact Rescue Org
    </button>
  <% } %>

  <div class='animal-item-hook well'>
  </div>
</div>
