<div class='row schedule-manager-item'>
  <div class='schedule-manager-item col-md-3'>
    <%= org.escape('org_name') %>
    <%= org.escape('id') %>
  </div>

  <div class='schedule-manager-item col-md-2'>
    <%= stay.escape('check_in_date') %>
    <%= stay.escape('id') %>
  </div>

  <div class='schedule-manager-item col-md-2'>
    <%= stay.escape('check_out_date') %>
  </div>


  <% if (stay.escape('status') === 'pending') { %>
    <div class='confirm-deny-btns'>
      <button class='btn btn-success prompt-confirm col-md-2'  data-stay-id="<%= stay.escape('id') %>">
        Confirm
      </button>

      <button class='btn btn-danger prompt-deny col-md-2' data-stay-id="<%= stay.escape('id')%>" >
        Deny
      </button>
    </div>
  <% } else { %>
    <!--
    <button class='btn btn-info contact-org col-md-1' data-stay-id="<%= stay.escape('id')%>" >
      Contact Rescue Org
    </button>
    -->
  <% } %>

  <div class='animal-item-hook well'>
  </div>
</div>
