<div class="row schedule-manager-item mb-5">
  <div class="col-1 offset-1">
    <div class="d-flex flex-column confirm-deny-btns">
      <% if (stay.escape("status") === "pending") { %>
        <button class="btn btn-success prompt-confirm mb-3" data-stay-id="<%= stay.escape('id') %>">
          Confirm
        </button>
        <button class="btn btn-danger prompt-deny" data-stay-id="<%= stay.escape('id')%>">
          Deny
        </button>
        <% } %>
    </div>
  </div>

  <div class="col-3">
    <div class="animal-item-hook" />
  </div>

  <div class="col-2">
    <%= org.escape("org_name") %>
  </div>

  <div class="col-1">
    <%= stay.escape("check_in_date") %>
  </div>

  <div class="col-1">
    <%= stay.escape("check_out_date") %>
  </div>
</div>