<div class='row'>
  <div class='schedule-manager-item col-md-3'>
    <%= animal.escape('name') %>
  </div>

  <div class='schedule-manager-item col-md-3'>
    <%= org.escape('org_name') %>
  </div>

  <div class='schedule-manager-item col-md-3'>
    <%= stay.escape('check_in_date') %>
  </div>

  <div class='schedule-manager-item col-md-3'>
    <%= stay.escape('check_out_date') %>
  </div>
</div>


<% if (stay.escape('status') === 'pending') { %>
  <button class='btn btn-success confirm-stay'  data-stay-id="<%= stay.escape('id') %>" data-animal-id="<%= animal.escape('id') %>" >
    Confirm
  </button>

  <button class='btn btn-danger reschedule-stay' data-animal-id=<%= animal.escape('id') %> >
    Reschedule
  </button>
<% } else { %>
  <button class='btn btn-info contact-org' data-animal-id=<%= animal.escape('id') %> data-stay-id=<%= stay.escape('id')%> >
    Contact Rescue Org
  </button>
<% } %>
