<div class="sidebar-info fixed-top">
  <h3 class="text-center">Search Results</h3>
  <hr/>
</div>

<div class="user-items px-3">
  <% users.each(function (user) { %>
    <div class="user-item row" data-user-id="<%= user.escape("id") %>">
      <% var streetAddress = user.escape("street_address") %>
        <% var city = user.escape("city") %>
          <% var state = user.escape("state") %>
            <% var zip = user.escape("zip_code") %>

              <div class="user-item-info" data-user-id="<%= user.escape("id") %>">
                <div class="user-item-name">
                  <strong>
                    <%= user.escape("name") %>
                  </strong>
                </div>

                <div class="user-item-location">
                  <%= streetAddress %>
                </div>
                <div class="user-item-location">
                  <%= city %>,
                    <%= state %>
                      <%= zip %>
                </div>
              </div>

              <div class="go-to-user-profile" data-user-id="<%= user.escape("id") %>">
                <a class="go-to-user-profile__pal badge badge-primary">
                  Go To Pal's Profile
                </a>
              </div>

    </div>
    <% }); %>
</div>