
<div class='col-md-2'>
  <%= animal.escape('name') %>
</div>

<div class='col-md-2'>
  <%= animal.escape('species') %>
</div>

<div class='col-md-2'>
  <%= animal.escape('breed') %>
</div>

<div class='col-md-2'>
  <%= animal.escape('color') %>
</div>

<div class='col-md-1'>
  <%= animal.escape('sex') %>
</div>

<div class='col-md-1'>
  <%= animal.escape('weight') %>
</div>

<div class='col-md-1'>
  <%= animal.escape('status') %>
</div>

<div class='col-md-1'>
  <%= animal.escape('fosterer') %>
</div>
