<!DOCTYPE html>
<html>
  <head>
    <title>FosterPals</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <script defer src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
    <script defer type="text/javascript" charset="utf-8">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%= ENV['CLOUDINARY_CLOUD_NAME']%>",
        upload_preset: "<%= ENV['CLOUDINARY_UPLOAD_PRESET']%>"
      };
    </script>
    <script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
  </head>
  <body>
    <% if current_user %>
      <script>
        if ("<%= current_user.org_name %>" !== 'NOT_ORG' ) {
          var name = "<%= current_user.org_name %>";
        } else {
          var name = "<%= current_user.first_name %>";
        }
        var id = <%= current_user.id %>;
        var role = "<%= current_user.role %>";

        window.CURRENT_USER = name;
        window.CURRENT_USER_ID = id;
        window.CURRENT_USER_ROLE = role; // TODO: Don't think this is used anymore; remove.
      </script>
    <% end %>
    <div id='content' class="container-fluid px-0">
      <%= render partial: 'shared/navbar', locals: {other_url: '/sign-in', other_link_text: 'Sign In'} %>
      <%= render partial: 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
