<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <%= render 'shared/helper_scripts' %>
  <body>
    <%= render partial: 'shared/flashes' %>
    <%= render 'shared/navbar', locals: { current_fragment_location: @current_fragment_location } %>
    <main class="static-pages">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
